body {
    height: 150px;
    width: 300px;
    overflow-y: scroll;
    background-color: #660099;
    color: #fff;
}

h1 {
    position: relative;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul li {
    font-size: 20px;
    height: 35px;
}

a {
    text-decoration: none;
    color: #fff;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    height: 20px;
    padding-top: 10px;
    font-size: 20px;
}

#title {
    font-size: 32px;
    font-weight: bold;
}

#loading {
    vertical-align: middle;
    text-align: center;
}
